<h1>Lista de Pousadas</h1>

<h2>Pousadas em <%= @city %></h2>

<div id="inns">
  <% @inns.each do |inn| %>
    <dl>
      <dt><strong>Nome:</strong></dd>
      <dd><%= link_to inn.name, inn %></dd>
      <dt><strong>Cidade:</strong></dd>
      <dd><%= inn.address.city %></dd>
    <dl>
  <% end %>
</div>