<h1>Verificar a disponibilidade do quarto: <%= @reservation.room.name %></h1>

<h3>Quarto disponível para reserva</h3>

<dl>
  <dt><strong>Valor total das diárias:</strong></dt>
  <dd><%= number_currency(@reservation_total_value) %></dd>
</dl>

<%= link_to 'Prosseguir', confirm_inn_room_reservations_path %>
