body {
  background-color: #202124;
  color: #ffffff;
}

a:link, a:visited {
  color: #ffffff;
}

button {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
  color: white;
}