body {
  background-color: #F8F9FD;
}

a:link, a:visited {
  color: black;
}

button {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
  color: black;
}